body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #f3f3f3;
}

header {
  background: #3b82f6;
  color: white;
  padding: 20px;
  text-align: center;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}
